version: '3.8'

services:
  db:
    image: postgres:13-alpine
    restart: unless-stopped
    container_name: tourmaster_postgres
    environment:
      POSTGRES_DB: tourmaster
      POSTGRES_USER: user
      POSTGRES_PASSWORD: 12345
    ports:
      - "5434:5432"

